<h1>Signup</h1>
<form method="POST" action="/register">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" placeholder="signup">
</form>
