* {

	box-sizing: border-box;
}

html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
h1,h2,h3,h4,h5,h6 {
	text-align: center;
}


#listing-container {
    width: 90%;
    margin: 0 auto;
}


.camp-listing img{
	width: 100%;
}

.camp-listing {
	text-align: center;
}

@media(min-width: 768px) {
	#listing-container {
		display: flex;
		flex-wrap: wrap;
	}
	.camp-listing {
		width:33%;
		padding:5px;
	}
	
#form {
	width:30%;
	margin: 25px auto;
	text-align: center;

}
}


