* {

	box-sizing: border-box;
}

html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

.thumbnail {
	padding:0
}

.thumbnail img {
	width:100%;
}

.thumbnail .caption-full {
	padding:9px;
}
